

.togbtn{
    color: white;
}

.h2 {
    font-size: 5rem;
}

.h1,
.h3 {
    font-size: 2rem;
}

.h1,
.h2,
.h3 {
    font-weight: 900;
}

.h3{
    /* background-color: #ffbd39; */
    height: 100px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    /* margin: 8px 0; */
    font-family: "Roboto Slab", serif;
}

.first-section>.section-left {
    /* background-color: rebeccapurple; */
    width: 30%;
    margin: 30px 0;
    /* height: 50vh; */
}

.first-section-buttons {
    display: flex;
    /* margin-top: 35px; */
    justify-content: center;
}

.button-instagram>button {
    font-size: 20px;
    padding: 10px 40px;
    color: var(--bg-color);
    background-color: var(--highlight1-color);
    border-width: 2px;
    border-color: var(--bg-color);
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}

.button-linkedin>button {
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 40px;
    color: var(--highlight1-color);
    background-color: var(--bg-color);
    border-width: 2px;
    border-color: var(--highlight1-color);
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}

.second-section {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
}

.section-left2 {
    display: flex;
    justify-content: center;
}

.section-left2>img {
    width: 190px;
    position: relative;
    bottom: 50px;
}

.intro {
    position: relative;
    bottom: 60px;
    margin: 0 15px;
}

.p1 {
    font-size: 17px;
    /* text-align: left; */
    padding: 8px;
    color: var(--txt2-color);
    font-weight: bolder;
    margin-bottom: 10px;
}

.section-right2 {
    display: flex;
}

.section-right2>.p2 {
    font-size: 8rem;
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    color: var(--txt3-color);
    position: relative;
    bottom: 60px;
    left: 100px;
}

.section-right2>.p3 {
    font-size: 4rem;
    font-weight: 900;
    /* font-family: "Roboto Slab", serif; */
    position: absolute;
    right: 350px;
    top: 865px;

}
