

.togbtn{
    color: white;
}

.h2 {
    font-size: 5rem;
}

.h1,
.h3 {
    font-size: 2rem;
}

.h1,
.h2,
.h3 {
    font-weight: 900;
}

.h3{
    /* background-color: #ffbd39; */
    height: 100px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    /* margin: 8px 0; */
    font-family: "Roboto Slab", serif;
}

.first-section>.section-left {
    /* background-color: rebeccapurple; */
    width: 30%;
    margin: 30px 0;
    /* height: 50vh; */
}

.first-section-buttons {
    display: flex;
    /* margin-top: 35px; */
    justify-content: center;
}

.button-instagram>button {
    font-size: 20px;
    padding: 10px 40px;
    color: var(--bg-color);
    background-color: var(--highlight1-color);
    border-width: 2px;
    border-color: var(--bg-color);
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}

.button-linkedin>button {
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 40px;
    color: var(--highlight1-color);
    background-color: var(--bg-color);
    border-width: 2px;
    border-color: var(--highlight1-color);
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}

.button-40 {
    --glow-color: rgb(255, 251, 176);
    --glow-spread-color: rgba(242, 255, 123, 0.781);
    --enhanced-glow-color: rgb(249, 255, 206);
    --btn-color: #ffbd39;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 3em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.button-40::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button-40:hover {
    color: blue;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button-40:active {
    box-shadow: 0 0 0.6em .25em red,
        0 0 2.5em 2em red,
        inset 0 0 .5em .25em red;
}

.second-section {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
}

.section-left2 {
    display: flex;
    justify-content: center;
}

.section-left2>img {
    width: 190px;
    position: relative;
    bottom: 50px;
}

.intro {
    position: relative;
    bottom: 60px;
    margin: 0 15px;
}

.p1 {
    font-size: 17px;
    /* text-align: left; */
    padding: 8px;
    color: var(--txt2-color);
    font-weight: bolder;
    margin-bottom: 10px;
}

.section-right2 {
    display: flex;
}

.section-right2>.p2 {
    font-size: 8rem;
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    color: var(--txt3-color);
    position: relative;
    bottom: 60px;
    left: 100px;
}

.section-right2>.p3 {
    font-size: 4rem;
    font-weight: 900;
    /* font-family: "Roboto Slab", serif; */
    position: absolute;
    right: 350px;
    top: 865px;

}
