* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 200px;
}

#highlight {
  color: var(--highlight1-color);
  font-weight: 900;
}

body {
  background-color: var(--bg-color);
  color: var(--bg-color1);
  font-family: "Ubuntu", sans-serif;
}